header{
    width:980px;
    margin: 0 auto;
}

.toDoList{
    width: 980px;
    margin: 0 auto;
}

form{
    display: flex;
    margin: 1%;
}

.inputStyle{
    padding: 5px;
    margin-right: 1%;
    width: 50%;
}

button{
    padding: 5px;
    border: 1px solid rgb(0,0,0);
    background-color: rgb(23, 75, 235);
    font-family: Courier New, Courier, monospace;
    color: rgb(250, 138, 16);
    font-weight: bold;
}

.deleteButton {
    background-color: rgb(161, 22, 41);
    color: rgb(255, 255, 255);
    float: right;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 1%;
    text-transform: capitalize;
}

.checkboxStyle{
    margin-right: 15px;
}

.textStyle{
    text-decoration: line-through;
    color: rgb(138, 141, 148);
}

li{
    margin-top: 40px;
}