header{
    width:980px;
    margin: 0 auto;
}

.ToDoList{
    width: 980px;
    margin: 0 auto;
}

form{
    display: flex;
    margin: 1%;
}

.inputStyle{
    padding: 5px;
    margin-right: 1%;
    width: 50%;
}

button{
    padding: 5px;
    border: 1px solid #000000;
    background-color: #174BEB;
    font-family: Courier New, Courier, monospace;
    color: #FA8A10;
    font-weight: bold;
}

.DeleteButton {
    background-color: rgb(161, 22, 41);
    color: #fff;
    float: right;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 1%;
    text-transform: capitalize;
}

.checkboxStyle{
    margin-right: 15px;
}

.textStyle{
    text-decoration: line-through;
    color: rgb(138, 141, 148);
}

li{
    margin-top: 40px;
}